<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Radiant.Order.Core.Data.Properties.Settings.OOConnectionString" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=OO;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Radiant.Order.Core.Data.Properties.Settings.OrderingAdminMembershipConnectionString" connectionString="Data Source=.\\SQLExpress;Initial Catalog=OrderingAdminMembership;Integrated Security=True" />
    <add name="Radiant.Order.Core.Data.Properties.Settings.OrderingTasksDevConnectionString1" connectionString="Data Source=atlbbukovics3\sqlexpress;Initial Catalog=OrderingTasksDev;Integrated Security=True" />
    <add name="Radiant.Order.Core.Data.Properties.Settings.QA_MasterConnectionString" connectionString="Data Source=153.78.122.141;Initial Catalog=QA_Master;User ID=Deployment_User;Password=Deployment_Password" />
    <add name="Radiant.Order.Core.Data.Properties.Settings.QA_DaphnesConnectionString2" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=OO;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NCR.Engage.OnlineOrdering.Cache.Metadata" publicKeyToken="6898e11da49268e5" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.22.3.78" newVersion="2.22.3.78" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StackExchange.Redis" publicKeyToken="c219ff1ca8c2ce46" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="protobuf-net" publicKeyToken="257b51d87d2e4d67" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NCR.Engage.OnlineOrdering.Logging" publicKeyToken="36413c95d24dd449" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.19.9.3" newVersion="1.19.9.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NCR.Engage.Result" publicKeyToken="805b69f509c1df3c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.11" newVersion="1.0.0.11" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AsyncElasticSearchClientLogger" publicKeyToken="d03176c2d54ffa9b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.21.2.41" newVersion="2.21.2.41" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AsyncElasticSearchClientLogger.Metadata" publicKeyToken="c744aa1a07dedeaa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.21.2.41" newVersion="2.21.2.41" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Nest" publicKeyToken="96c599bbe3e70f5d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Elasticsearch.Net" publicKeyToken="96c599bbe3e70f5d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>