<log4net>
  <appender name="MainAppLog" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="..\\logs\\Radiant.Admin.AdminConfigurationUtility.log"/>
    <param name="MaximumFileSize" value="4MB"/>
    <param name="MaxSizeRollBackups" value="8"/>
    <param name="RollingStyle" value="Size"/>
    <param name="CountDirection" value="-1"/>
    <param name="StaticLogFileName" value="True"/>
    <param name="Threshold" value="DEBUG"/>
    <layout name="StandardLayout" type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value=":STD: %d{yyyy-MM-ddTHH:mm:sss.fffff} %p %t %c %m%n"/>
    </layout>
  </appender>
  <appender name="EventLog" type="log4net.Appender.EventLogAppender">
    <param name="ApplicationName" value="AdminConfigurationUtility"/>
    <param name="LogName" value="Application"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-ddTHH:mm:sss.fffff} %p %t %c %m%n"/>
    </layout>
    <param name="Threshold" value="ERROR"/>
  </appender>
  <root>
    <level value="DEBUG"/>
    <appender-ref ref="MainAppLog"/>
    <appender-ref ref="EventLog"/>
  </root>
  <!-- Example to set individual levels
  <logger name="Radiant.Retail.Devices.Common.SerialDevicePort">
    <level value="INFO" />
  </logger>
  -->
</log4net>
